# API Configuration
VITE_API_BASE_URL="http://localhost:3000/v4/fozo/api"
VITE_API_BASE_LOCAL_URL="http://localhost:3000/v4/fozo/api"
VITE_API_KEY="<YOUR_API_KEY>"

# Google Maps API
VITE_GOOGLE_MAPS_API_KEY="<YOUR_GOOGLE_MAPS_API_KEY>"
